

.stripePaymentFormContainer {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stripeFormContainer {
  height: 100px;
  min-width: 500px;
}

.payment-feedback {

  p {
    font-size: 12px;
    text-align: right;
  }
}